<!doctype html>
<html lang="en" ng-app="WhoApp">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css"/>

    <script src="lib/jquery.min.js"></script>
    <script src="lib/jquery-ui.min.js"></script>    
    <script src="lib/bootstrap/bootstrap.min.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="//vk.com/js/api/xd_connection.js?2"></script>

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers/WhoController.js"></script>

</head>
<body>

    <div class="container" ng-controller="WhoController" ng-cloak>

        <div class="panel panel-default">
            <div class="panel-heading">Друзья онлайн</div>
            <div class="panel-body">
                <div class="friend" ng-repeat="friend in online_friends | orderBy:'name'">
                    <label>
                        <input type="checkbox" ng-model="friend.is_checked">
                        <img src="{{friend.photo}}" width="25" height="25" class="img-rounded">
                        <span class="name">{{friend.first_name}}</span>
                        <span class="name">{{friend.last_name}}</span>
                    </label>

                </div>
            </div>
        </div>

    </div>

</body>
</html>
